@model WebBanHang.Models.Brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <br />
                <h2>Details Brand</h2>

                <div>
                    
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Model.Brand_Name
                        </dt>

                        <dd>
                            @Model.Brand_Name
                        </dd>

                        <dt>
                            @Model.Avatar
                        </dt>

                        <dd>
                            @Model.Avatar
                        </dd>



                        <dt>
                            @Model.ShowOnHomePage
                        </dt>

                        <dd>
                            @Model.ShowOnHomePage
                        </dd>
                        <div>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |

                                <i class="fa fa-undo fa-fw"></i>@Html.ActionLink("Quay lại", "Index", "Brand")

                            </p>
                        </div>


                    </dl>
                </div>
                <p>
                    </div>
            </div>
        </section>
    </div>
               